<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body style=" height: 100%; margin: 0; background-repeat: no-repeat; background-attachment: fixed; background-image: linear-gradient(#d9b0ff,#88b1ff)">
<script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <ul class="nav nav-pills" style="font-size: 25px; background-color: #cb12ff">
        <li role="presentation"><a href="{{url_for('main')}}" style="color: white"><strong>Home</strong></a></li>
        <li role="presentation"><a href="{{url_for('upload_image_form')}}" style="color: white"><strong>Upload</strong></a></li>
        <li role="presentation"><a href="{{url_for('search_image_form')}}" style="color: white"><strong>Search</strong></a></li>
        <li role="presentation" class="active"><a href="{{url_for('delete_image_form')}}" style="color: white"><strong>Delete</strong></a></li>
        <li role="presentation"><a href="{{url_for('display_image_name')}}" style="color: white"><strong>Display</strong></a></li>
        <li role="presentation"><a href="{{url_for('textract_form')}}" style="color: white"><strong>ExtractText</strong></a></li>
        <li role="presentation"><a href="{{url_for('celebrity_form')}}" style="color: white"><strong>FindCelebrity</strong></a></li>
        <li role="presentation"><a href="{{url_for('facial_form')}}" style="color: white"><strong>FacialAnalysis</strong></a></li>
    </ul>

    <div class="container text-center" style="font-size:60px; font-family: Arial; color: #473eff">
        <p><strong>Delete Image</strong></p>
    </div>

    <div class="container" >
        <div class="row">
                <form action="{{url_for('delete_image')}}"  enctype="multipart/form-data" method="post">
                    <div class="form-group col-md-4 col-md-offset-4" style="font-size: 30px; margin-top: 4%">
                        <label for="select_button">Key:</label>
                        <input type="text" name="key" class="form-control" id="select_button" placeholder="Please input here">
                    </div>

                    <div class="col-md-4 col-md-offset-5" style="margin-top: 2%">
                        <input type="submit" id="delete_button" value="Delete" style="font-size: 25px; margin-right: 10%; background-color: #ffc5d8">
                    </div>
                </form>
            </form>
        </div>
    </div>

</body>
</html>